header{
  width: 100%;
  background-color:#a54;
  height: 90px;
}
li{
  font-weight: 300;
  font-size: 1em;
  text-decoration: none;
  width:100%; 
}
li a{
 color:rgb(30, 31, 36);
 font-weight: 300;
 font-size: 1em;
 text-decoration: none;
}
li a:hover{
 text-decoration: underline;
 color: blue;
}
.Hcolumn1{
  width: 70%;
  float: left;
  margin-left: 20px;
}
.Hcolumn2{
  width: 20%;
  float: left;
  margin-top: 20px;
}
.Lcolumn1{
  width: 58%;
  float: left;
  margin: 10px;

}
.Lcolumn2{
  width: 38%;
  float: left;
  margin: 10px;
}
.Acolumn1{
  width: 28%;
  float: left;
  margin: 10px;

}
.Acolumn2{
  width: 38%;
  float: left;
  margin: 10px;
}
.Acolumn3{
  width: 28%;
  float: left;
  margin: 10px;
}
.HBcolumn1{
  width: 28%;
  float: left;
  margin: 10px;

}
.HBcolumn2{
  width: 38%;
  float: left;
  margin: 10px;
}
.HBcolumn3{
  width: 28%;
  float: left;
  margin: 10px;
}

figcaption{
  margin-left: 0px;
}
footer{
  background-color: #4F3674;
  
  position: absolute;
  
  left:0;
  bottom: 0px;
  width: 100%;
}


footer p{
 color: #fff;
 font-weight: 400;
 float: right;
 padding-right: 10px;
 font-style: italic;
 font-size: .75em;
}

footer a{
 text-decoration: none;
 color: #fff;
}

footer a:hover{
  text-decoration: underline;
}